.hero {
  font-family: var(--fonte);
  background-color: var(--dark-bg);
  display: flex;
  padding: 1em 10em;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  width: 45%;
}

.hero__title {
  font-size: 48px;
  font-weight: bolder;
  padding: 10px 0;
  color: var(--primary-color);
}

.hero__subtitle {
  font-size: 18px;
  color: var(--secondary-color);
  padding-bottom: 1em;
}

.hero__cta {
  font-size: 18px;
  font-family: var(--fonte);
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--cta-color);
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
}

.hero__image {
  width: auto;
  height: 350px;
  padding: 50px;
  border-radius: 100px;
}
