@import url("css/header.css");
@import url("css/hero.css");
@import url("css/information.css");
@import url("css/quote.css");
@import url("css/cta.css");

:root {
  --dark-bg: #1f2937;

  --primary-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --cta-color: #3882f6;

  --fonte: "Roboto", sans-serif;
}

body {
  font-family: var(--fonte);
}

.footer {
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--dark-bg);
  padding: 2em 0;
}
